body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgba(15, 55, 168);
}

.container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    max-width: 400px;
    width: 90%; 
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
    box-sizing: border-box;
    text-align: center; 
}

.boton {
    color: white;
    background-color: rgba(15, 55, 168);
    border-radius: 20px;
    width: 70%;
    margin-bottom: 20px;
    padding: 10px; 
    border: none; 
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.boton:hover {
    color: rgba(15, 55, 168);
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    width: 70%;
    border: 1px solid rgba(15, 55, 168);
}

.imagen {
    height: auto; 
    width: 150px; 
    max-width: 80%; 
    display: block; 
    margin: 20px auto 20px auto; 
}

.container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 20px); 
    box-sizing: border-box;
}

.container h2 {
    width: 100%; 
    color: rgba(15, 55, 168);
    text-align: left;
    margin-bottom: 5px; 
    padding-left: 5px; 
}